<div class="container">

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          <span ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Назва
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </span>
        </th>
        <th>Місто (або область)</th>
        <th>Середня конц.</th>
        <th>
          <span ng-click="sortType = 'risk'; sortReverse = !sortReverse">
            Risk
            <span ng-show="sortType == 'risk' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'risk' && sortReverse" class="fa fa-caret-up"></span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in main.pollutions | orderBy:sortType:sortReverse track by item._id">
        <td>{{item.name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.averageConcentration}}</td>
        <td ng-style="{'background-color':'rgba({{main.getRiskCellColor(item.risk)}},0,0.5)'}">{{item.risk | number: 4}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div ng-show="main.showMap" class="map-container" ng-click="main.showMap = !main.showMap">
  <div class="btn-close">
    &#10006;
  </div>
  <div class="map-wrapper">
    <div id="map" onclick="event.stopPropagation();">
    </div>
  </div>
</div>


<div id="addItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Додати нову інформацію до бази</h4>
      </div>
      <div class="modal-body">
        <div class="navTabs">
          <a aria-controls="addItemForm" role="tab" data-toggle="tab" href="#addItemForm"
            ng-class="{'active' : main.currentTab == 'item'}" ng-click="main.changeTab('item');"
            onclick="event.preventDefault();">
            Додати поле
          </a>
          <a class="kl-first-level-item" aria-controls="addSubstanceForm"
            role="tab" data-toggle="tab" ng-class="{'active' : main.currentTab == 'substance'}"
            ng-click="main.changeTab('substance');" href="#addSubstanceForm"
            onclick="event.preventDefault();">
            Додати речовину
          </a>
        </div>
        <div class="tab-content">
          <form action="" name="addItemForm" id="addItemForm" role="tabpanel"
            class="tab-pane active" onsubmit="event.preventDefault();">
            <select name="" id="" class="form-control" ng-model="main.newPollution.substanceId"
              ng-options="item._id as item.name for item in main.substances track by item._id"
              required="true"></select>
            <input type="text" placeholder="Місто:" ng-model="main.newPollution.city"
              required="true" class="form-control">
            <input type="text" placeholder="Середня концентрація речовини у воді:" ng-model="main.newPollution.avg"
              required="true" class="form-control" ng-keyup="main.checkDigitsAvg(this)">
            <button class="btn btn-default" ng-disabled="addItemForm.$invalid"
              ng-click="main.addItem(main.newPollution)">Додати</button>
          </form>
          <form action="" name="addSubstanceForm" id="addSubstanceForm"
            role="tabpanel" class="tab-pane" onsubmit="event.preventDefault();">
            <input type="text" placeholder="Ім'я:" ng-model="main.newSubstance.name"
              required="true" class="form-control">
            <button class="btn btn-default" ng-disabled="addSubstanceForm.$invalid"
              ng-click="main.addSubstance(main.newSubstance)">Додати</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
