<div class="container">
  <div class="row">
    <div class="form-group">
      <select name="modes" id="modes" class="form-control" ng-change="main.changeMode()"
        ng-model="mode" ng-options="item as item.name for item in main.modes">
        <option style="display:none" value="">Обрати режим</option>
      </select>
    </div>
    <uib-tabset active="active">
      <uib-tab index="0" heading="Питна вода">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                <span ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Назва
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </span>
              </th>
              <th>Басейн</th>
              <th>Середня конц.</th>
              <th>ГДК</th>
              <th>Prob</th>
              <th>
                <span ng-click="sortType = 'risk'; sortReverse = !sortReverse">
            Risk
            <span ng-show="sortType == 'risk' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'risk' && sortReverse" class="fa fa-caret-up"></span>
                </span>
              </th>
              <th>
                Характеристики
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in main.pollutions | filter:{characteristic:characteristic} | orderBy:sortType:sortReverse track by item._id">
              <td>{{item.name}}</td>
              <td>{{item.city}}</td>
              <td>{{item.averageConcentration}}</td>
              <td>{{item.gdk}}</td>
              <td>{{mode.drink.prob(item) | number: 4}}</td>
              <td ng-style="{'background-color':'rgba({{main.getRiskCellColor(item.risk)}},0,0.5)'}">{{mode.drink.risk(item)}}</td>
              <td>{{item.characteristic}}</td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab index="1" heading="Рекреаційні водні об'єкти">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>
                <span ng-click="sortType2 = 'name'; sortReverse2 = !sortReverse2">
                  Назва
                <span ng-show="sortType2 == 'name' && !sortReverse2" class="fa fa-caret-down"></span>
                <span ng-show="sortType2 == 'name' && sortReverse2" class="fa fa-caret-up"></span>
                </span>
              </th>
              <th>Басейн</th>
              <th>Recreationalzone name</th>
              <th>Середня конц.</th>
              <th>ГДК</th>
              <th>Prob</th>
              <th>
                <span ng-click="sortType2 = 'risk'; sortReverse2 = !sortReverse2">
                  Risk
                 <span ng-show="sortType2 == 'risk' && !sortReverse2" class="fa fa-caret-down"></span>
                <span ng-show="sortType2 == 'risk' && sortReverse2" class="fa fa-caret-up"></span>
                </span>
              </th>
              <th>
                Характеристики
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in main.pollutions2 | orderBy:sortType2:sortReverse2 | filter:{characteristic:characteristic} track by item._id">
              <td>{{item.name}}</td>
              <td>{{item.city}}</td>
              <td>{{item.recreationZoneName}}</td>
              <td>{{item.averageConcentration}}</td>
              <td>{{item.gdk}}</td>
              <td>{{item.prob | number: 4}}</td>
              <td ng-style="{'background-color':'rgba({{main.getRiskCellColor(item.risk)}},0,0.5)'}">{{item.risk | number: 4}}</td>
              <td>{{item.characteristic}}</td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>


  </div>
</div>

<div ng-show="main.showMap" class="map-container" ng-click="main.showMap = !main.showMap">
  <div class="btn-close">
    &#10006;
  </div>
  <div class="map-wrapper">
    <div id="map" onclick="event.stopPropagation();">
    </div>
  </div>
</div>

<div id="addItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Додати нову інформацію до бази</h4>
      </div>
      <div class="modal-body">
        <div class="navTabs">
          <a aria-controls="addItemForm" role="tab" data-toggle="tab" href="#addItemForm"
            ng-class="{'active' : main.currentTab == 'item'}" ng-click="main.changeTab('item');"
            onclick="event.preventDefault();">
            Додати поле
          </a>
          <a class="kl-first-level-item" aria-controls="addSubstanceForm"
            role="tab" data-toggle="tab" ng-class="{'active' : main.currentTab == 'substance'}"
            ng-click="main.changeTab('substance');" href="#addSubstanceForm"
            onclick="event.preventDefault();">
            Додати речовину
          </a>
        </div>
        <div class="tab-content">
          <form action="" name="addItemForm" id="addItemForm" role="tabpanel"
            class="tab-pane active" onsubmit="event.preventDefault();">
            <select name="" id="" class="form-control" ng-model="main.newPollution.substanceId"
              ng-options="item._id as item.name for item in main.substances track by item._id"
              required="true"></select>
            <input type="text" placeholder="Басейн:" ng-model="main.newPollution.city"
              required="true" class="form-control">
            <input type="text" placeholder="Середня концентрація:" ng-model="main.newPollution.avg"
              required="true" class="form-control" ng-keyup="main.checkDigitsAvg(this)">


            <div class="radio">
              <label><input type="radio" ng-model="main.newPollution.type" value="flow">Flowing</label>
            </div>
            <div class="radio">
              <label><input type="radio" ng-model="main.newPollution.type" value="recr">Recreational</label>
            </div>

            <input type="text" ng-if="main.newPollution.type == 'recr'" placeholder="Рекреаційна зона:"
              ng-model="main.newPollution.recreationZoneName" required="true"
              class="form-control">


            <button class="btn btn-default" ng-disabled="addItemForm.$invalid"
              ng-click="main.addItem(main.newPollution)">Додати</button>
          </form>
          <form action="" name="addSubstanceForm" id="addSubstanceForm"
            role="tabpanel" class="tab-pane" onsubmit="event.preventDefault();">
            <input type="text" placeholder="Ім'я:" ng-model="main.newSubstance.name"
              required="true" class="form-control">
            <input type="text" placeholder="ГДК:" ng-model="main.newSubstance.gdk"
              required="true" class="form-control" ng-keyup="main.checkDigitsGDK(this)">
            <button class="btn btn-default" ng-disabled="addSubstanceForm.$invalid"
              ng-click="main.addSubstance(main.newSubstance)">Додати</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
