<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-fire"></span> Awesome Lab
      </a>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><button class="btn btn-default btn-map" ng-click="vm.$rootScope.showMap = !vm.$rootScope.showMap; vm.initMap();"><i class="glyphicon glyphicon-globe"></i></button></li>
        <div class="addItemBox" data-toggle="modal" data-target="#addItemModal">
          <button class="btn btn-default btn-map btn-modal">
            <span class="glyphicon glyphicon-open"></span>
          </button>
        </div>
      </ul>
    </div>
  </div>
</nav>
