.acme-navbar-text {
  color: white;
}
.addItemBox {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  span {
    color: #fff;
  }
}

#addItemModal {
  form {
    input {
      margin-bottom: 10px;
    }
  }
}

.substContainer {
  .subst-header {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    .header-item {
      flex-basis: 19%;
    }
  }
  .substance {
    margin-top: 10px;
    border-bottom: 1px solid gray;
    .table-container {
      display: flex;
      padding: 5px 0;
      .table-item {
        flex-basis: 19%;
      }
    }
  }
}