<div class="container">
  <div class="substContainer">
    <div class="box" ng-click="isCollapsedAir = !isCollapsedAir">

      <div class="title">Збитки від забруднення атмосферного повітря, гривень</div>
      <div class="value">{{main.airSum}} грн.</div>
      <div class="abs val">{{main.airSum * 100 / (main.airSum + main.waterSum + main.groundSum) | number: 0}} %</div>
    </div>
    <div class="content" uib-collapse="isCollapsedAir">
      <table class="table table-hover table-condensed">
        <tr>
          <th>Назва речовини</th>
          <th>ГДК</th>
          <th>Середня концентрація</th>
        </tr>
        <tr ng-repeat="item in main.pollutionsAir">
          <td>{{item.name}}</td>
          <td>{{item.gdk}}</td>
          <td>{{item.averageConcentration}}</td>
        </tr>
      </table>
    </div>
    <div class="box" ng-click="isCollapsedWater = !isCollapsedWater">
      <div class="title">Збитки від забруднення поверхневих і підземних вод, гривень</div>

      <div class="value">{{main.waterSum}} грн.</div>
      <div class="abs val">{{main.waterSum * 100 / (main.airSum + main.waterSum + main.groundSum) | number: 0}} %</div>

    </div>
    <div class="content" uib-collapse="isCollapsedWater">
      <table class="table table-hover table-condensed">
        <tr>
          <th>Назва речовини</th>
          <th>ГДК</th>
          <th>Середня концентрація</th>
        </tr>
        <tr ng-repeat="item in main.pollutionsWater">
          <td>{{item.name}}</td>
          <td>{{item.gdk}}</td>
          <td>{{item.averageConcentration}}</td>
        </tr>
      </table>
    </div>
    <div class="box" ng-click="isCollapsedGround = !isCollapsedGround">
      <div class="title">Збитки від забруднення земель, гривень</div>

      <div class="value">{{main.groundSum}} грн.</div>
      <div class="abs val">{{main.groundSum * 100 / (main.airSum + main.waterSum + main.groundSum) | number: 0}} %</div>

    </div>
    <div class="content" uib-collapse="isCollapsedGround">
      <table class="table table-hover table-condensed">
        <tr>
          <th>Назва речовини</th>
          <th>ГДК</th>
          <th>Середня концентрація</th>
        </tr>
        <tr ng-repeat="item in main.pollutionsGround">
          <td>{{item.name}}</td>
          <td>{{item.gdk}}</td>
          <td>{{item.averageConcentration}}</td>
        </tr>
      </table>
    </div>
    <div class="box" ng-click="main.veryMuch()">
      <div class="title">Загальний збиток</div>
      <div class="value">{{main.airSum + main.waterSum + main.groundSum}} грн.</div>
    </div>
  </div>
</div>

<div ng-show="main.showMap" class="map-container" ng-click="main.showMap = !main.showMap">
  <div class="btn-close">
    &#10006;
  </div>
  <div class="map-wrapper">
    <div id="map" onclick="event.stopPropagation();">
    </div>
  </div>
</div>


<div id="addItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Додати нову інформацію до бази</h4>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <form name="addItemForm" id="addItemForm" role="tabpanel" class="tab-pane active"
            onsubmit="event.preventDefault();">

            <select class="form-control" ng-model="main.newPollution.typeId"
              ng-options="item.id as item.name for item in main.typeHeaders track by item.id"
              required="true"></select>

            <div class="form-group" ng-repeat="field in main.types[main.newPollution.type].fields">
              <label>{{field.description}}</label>
              <input type="text" ng-model="main.newPollution[field.name]" required="true"
                class="form-control">
            </div>
            <div class="form-group" ng-if="main.types[main.newPollution.type].useSubstance">
              <label>Речовина</label>
              <select ng-model="main.newPollution.substanceId" required="true"
                ng-options="item.id as item.name for item in main.substances track by item.id"
                class="form-control">
            </div>
            <button class="btn btn-default" ng-disabled="addItemForm.$invalid"
              ng-click="main.addItem(main.newPollution)">Додати</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>