<div class="container">
 <div class="substContainer">
   <div class="subst-header">
     <div class="header-item">Name</div>
     <div class="header-item">City</div>
     <div class="header-item">Average conc.</div>
     <div class="header-item">GDK</div>
     <div class="header-item">Class of dang.</div>
   </div>
   <div class="substance" ng-repeat="item in main.substances">
     <div class="table-container">
       <div class="table-item">{{item.name}}</div>
       <div class="table-item">{{item.city}}</div>
       <div class="table-item">{{item.averageConcentration}}</div>
       <div class="table-item">{{item.gdk}}</div>
       <div class="table-item">{{item.classOfDangerous}}</div>
     </div>
   </div>
 </div>
</div>

<div id="addItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form action="" name="addItemForm">
          <input type="text" placeholder="Name:" ng-model="main.newSubstance.name" required="true" class="form-control">
          <input type="text" placeholder="City:" ng-model="main.newSubstance.city" required="true" class="form-control">
          <input type="text" placeholder="Average concentration:" ng-model="main.newSubstance.avg" required="true" class="form-control">
          <input type="text" placeholder="GDK:" ng-model="main.newSubstance.gdk" required="true" class="form-control">
          <input type="number" placeholder="Class of dangerous:" ng-model="main.newSubstance.classDanger" required="true" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-disabled="addItemForm.$invalid" ng-click="main.addItem(main.newSubstance)">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
